body {
    font-family: Roboto, sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.header,
.hero-banner,
.footer {
    background-color: #1f2937;
    padding: 20px 200px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.links a {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-banner {
    height: 350px;
    padding-bottom: 60px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-subtitle {
    color: #e5e7eb;
    font-size: 18px;
}

.signup {
    padding: 8px 32px;
    margin: 10px 0;
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.hero-img {
    background-color: grey;
    color: #ffffff;
    height: 250px;
    flex: 1;
}

.footer {
    color: #e5e7eb;
    font-size: 12px;
    display: flex;
    justify-content: center;
}